.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.search{
  position: absolute;
  left: 460px;
  width: 300px;
  border-radius: 10px;
  top: 33px;
  z-index: 1;
  color: rgb(99 102 241);
  padding-left: 10px;
  outline: none;
}

.search::placeholder{
  color: rgb(99 102 241);
}

::-webkit-scrollbar-thumb {
  background:rgb(99 102 241);
  border-radius: 2em;
}

::-webkit-scrollbar {
  width: 10px;
  background: -webkit-linear-gradient(45deg, #f3f5f5, #5f2c82);
  background: linear-gradient(45deg,  #5f2c82);
}
